<h1>Listing Faces</h1>
<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 well">
    <a href="#" class="btn btn-info btn-large" id="action_table">Show Table</a>    
    <table class="table table-bordered table-hover" style="display:none">
      <thead>
        <tr>
          <th><span class="glyphicon glyphicon-user"></span> Nombre</th>
          <th><span class="glyphicon glyphicon-envelope"></span> Email</th>
          <th><span class="glyphicon glyphicon-picture"></span> Image</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td><%= client.nombre %></td>
            <td><%= client.email %></td>
            <td><a href="<%= client.image %>" title="Image"><%= client.image %></a></td>
            <td><%= link_to 'Show', client %></td>
            <td><%= link_to 'Edit', edit_client_path(client) %></td>
            <td><%= link_to 'Destroy', client, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
<% @clients.each do |client| %>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="<%= client.image %>" alt="...">
      <div class="caption">
        <h3><%= client.nombre %></h3>
        <p class="well"><%= link_to "View", client, :class=>"btn btn-success" %><%= link_to "Edit", edit_client_path(client), :class => "btn btn-info" %><%= link_to "Delete", client, method: :delete, remote: true, :class=>"btn btn-danger", data: {confirm: "You really want to delete this?"} %></p>
      </div>
    </div>
  </div>

<% end %>
</div>
<br>
<%= link_to 'New Client', new_client_path, :class => "btn btn-info" %>
